.grid-about {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

a {
    text-decoration: none;
}

.carousel-caption {
    position: relative;
    color: #000;
    right: 0;
    left: 0;
    bottom: 0;
}