.bg-header {
    background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: cover !important;
    height: 100%;
}

.navbar-nav a {
    color: #000;
}

.navbar-nav a:hover {
    color: #fff !important;
    background-color: #198754;
    border-color: #198754;
}

p.tl-1 {
    margin-top: 13px;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-style: initial;
}

iframe.map1 {
    margin-left: 3rem;
    margin-top: 1rem;
    width: 75rem;
}

.flex-row {
    margin-left: 1rem;
    margin-top: 2rem;
}

